<div class="pay-widget-wrapper container">
  <app-country></app-country>
  <app-method></app-method>
  <form [formGroup]="paymentForm"
        class="form-horizontal">
    <div class="form-group">
      <label class="font col-sm-6 text-rigth"
              for="cardHolder">Card holder name:</label>
      <input type="text"
             class="form-control fontBold col=sm-5"
             id="cardHolder"
             placeholder="First name Last name"
             formControlName="cardHolderName">
    </div>
    <div class="form-group">
      <label class="font"
              for="cardNumber">Card Number:</label>
      <input type="number"
             class="form-control fontBold"
             id="cardNumber"
             formControlName="cardNumber">
    </div>
    <div class="form-group">
      <label class="font"
              for="expDateMM">expiration Date:</label>
      <input type="text"
             class="form-control fontBold"
             id="expDateMM"
             placeholder="mm"
             formControlName="expDateMM">
      <label for="expDateYY">/</label>
      <input type="text"
             class="form-control fontBold"
             id="expDateYY"
             placeholder="yy"
             formControlName="expDateYY">
    </div>
    <div class="form-group">
      <label class="font"
             for="cvv">CVV2 (CVC):</label>
      <input type="number"
             class="form-control fontBold"
             id="cvv"
             placeholder=""
             formControlName="cvv">
    </div>
    <button type="submit"
            class="btn btn-default fontBold"
            [disabled]="paymentForm.invalid"
            (click)="onSubmit()"
            >BUY</button>
  </form>
</div>

