<div class="pay-widget-wrapper">
  <h3>Chouse your payment method</h3>
  <ul>
    <li *ngFor="let method of payService.methods"
        (click)="payService.selectMethod(method.id)">
      <img preloadImg src="{{method.img_url}}" alt="{{method.name}}">
      <p>{{method.name}}</p>
    </li>
  </ul>
  <div *ngIf="payService.selectedMethod">
    <h5>Selected payment method: {{payService.selectedMethod.name}}</h5>
    <img src="{{payService.selectedMethod.img_url}}"
         alt="{{payService.selectedMethod.name}}">
  </div>
</div>

